<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="">
<meta name="author" content="">

<title>中国农药第一网 - 农医问药 - 后台管理系统</title>

<!--favicon-->
<link rel="shortcut icon" href="__ROOT__/favicon.ico" />

<!-- jQuery -->
<script src="__SB_ADMIN__/bower_components/jquery/dist/jquery.min.js"></script>

<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
<script src="//cdn.bootcss.com/html5shiv/3.7.2/html5shiv-printshiv.min.js"></script>
<script src="//cdn.bootcss.com/respond.js/1.4.2/respond.js"></script>
<![endif]-->

<!--jquery.form-->
<script src="__STATIC__/jquery.form.js"></script>

<!-- Bootstrap Core CSS -->
<link href="__SB_ADMIN__/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
<!-- Bootstrap Core JavaScript -->
<script src="__SB_ADMIN__/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>

<!-- DataTables CSS -->
<link href="__SB_ADMIN__/bower_components/datatables-plugins/integration/bootstrap/3/dataTables.bootstrap.css"
      rel="stylesheet">
<!-- DataTables Responsive CSS -->
<link href="__SB_ADMIN__/bower_components/datatables-responsive/css/responsive.dataTables.scss" rel="stylesheet">
<!-- DataTables JavaScript -->
<script src="__SB_ADMIN__/bower_components/datatables/media/js/jquery.dataTables.min.js"></script>
<script src="__SB_ADMIN__/bower_components/datatables-plugins/integration/bootstrap/3/dataTables.bootstrap.min.js"></script>
<script src="__SB_ADMIN__/bower_components/datatables-responsive/js/dataTables.responsive.js"></script>

<!-- MetisMenu CSS -->
<link href="__SB_ADMIN__/bower_components/metisMenu/dist/metisMenu.min.css" rel="stylesheet">
<!-- Metis Menu Plugin JavaScript -->
<script src="__SB_ADMIN__/bower_components/metisMenu/dist/metisMenu.min.js"></script>

<!-- Custom CSS -->
<link href="__SB_ADMIN__/dist/css/sb-admin-2.css" rel="stylesheet">
<!-- Custom Fonts -->
<link href="__SB_ADMIN__/bower_components/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
<!-- Custom Theme JavaScript -->
<script src="__SB_ADMIN__/dist/js/sb-admin-2.js"></script>

<!--layer-->
<link rel="stylesheet" href="__BOWER__/layer/src/skin/layer.css">
<link rel="stylesheet" href="__BOWER__/layer/src/skin/layer.ext.css">
<script src="__BOWER__/layer/src/layer.js"></script>
<script src="__BOWER__/layer/src/extend/layer.ext.js"></script>

<!--self-->
<link rel="stylesheet" href="__COMMON__/common.css">
<script src="__COMMON__/common.js"></script>


<block name="head"></block>