<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>后台管理系统</title>

<!--jquery-->
<script type="text/javascript" src="__BOWER__/jquery/dist/jquery.min.js"></script>

<!--jquery form-->
<script type="text/javascript" src="__STATIC__/jquery.form.js"></script>

<!--bootstrap-->
<link rel="stylesheet" type="text/css" href="__BOWER__/bootstrap/dist/css/bootstrap.min.css" />
<link rel="stylesheet" type="text/css" href="__BOWER__/bootstrap/dist/css/bootstrap-theme.min.css" />
<script type="text/javascript" src="__BOWER__/bootstrap/dist/js/bootstrap.min.js"></script>

<!--common-->
<link rel="stylesheet" type="text/css" href="__COMMON__/common.css" />
<script type="text/javascript" src="__COMMON__/common.js"></script>

<!--self-->

<block name="head"></block>
