<!DOCTYPE html>
<html lang="en">

<head>

    <include file="Layout:head1" />

</head>

<body>

<div id="wrapper">

    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">

        <include file="Layout:top1" />

        <include file="Layout:left1" />
    </nav>

    <block name="body"></block>

</div>
<!-- /#wrapper -->

<div class="hidden">
    <block name="dialog"></block>
</div>

<block name="extend"></block>




<!-- jQuery -->
<script src="__SB_ADMIN__/bower_components/jquery/dist/jquery.min.js"></script>

<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
<script src="//cdn.bootcss.com/html5shiv/3.7.2/html5shiv-printshiv.min.js"></script>
<script src="//cdn.bootcss.com/respond.js/1.4.2/respond.js"></script>
<![endif]-->

<!--jquery.form-->
<script src="__STATIC__/jquery.form.js"></script>

<!-- Bootstrap Core CSS -->
<link href="__SB_ADMIN__/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
<!-- Bootstrap Core JavaScript -->
<script src="__SB_ADMIN__/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>

<!-- DataTables CSS -->
<link href="__SB_ADMIN__/bower_components/datatables-plugins/integration/bootstrap/3/dataTables.bootstrap.css"
      rel="stylesheet">
<!-- DataTables Responsive CSS -->
<link href="__SB_ADMIN__/bower_components/datatables-responsive/css/responsive.dataTables.scss" rel="stylesheet">
<!-- DataTables JavaScript -->
<script src="__SB_ADMIN__/bower_components/datatables/media/js/jquery.dataTables.min.js"></script>
<script src="__SB_ADMIN__/bower_components/datatables-plugins/integration/bootstrap/3/dataTables.bootstrap.min.js"></script>
<script src="__SB_ADMIN__/bower_components/datatables-responsive/js/dataTables.responsive.js"></script>

<!-- MetisMenu CSS -->
<link href="__SB_ADMIN__/bower_components/metisMenu/dist/metisMenu.min.css" rel="stylesheet">
<!-- Metis Menu Plugin JavaScript -->
<script src="__SB_ADMIN__/bower_components/metisMenu/dist/metisMenu.min.js"></script>

<!-- Custom Theme JavaScript -->
<script src="__SB_ADMIN__/dist/js/sb-admin-2.js"></script>

<script src="__BOWER__/layer/src/layer.js"></script>
<script src="__BOWER__/layer/src/extend/layer.ext.js"></script>

<!--self-->
<link rel="stylesheet" href="__COMMON__/common.css">
<script src="__COMMON__/common.js"></script>



</body>
</html>
