<!DOCTYPE html>
<html lang="en">

<head>

    <include file="Layout:head1" />

</head>

<body>

<div id="wrapper">

    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">

        <include file="Layout:top1" />

        <include file="Layout:left1" />
    </nav>

    <block name="body"></block>

</div>
<!-- /#wrapper -->

<div class="hidden">
    <block name="dialog"></block>
</div>

<block name="extend"></block>

</body>
</html>
