<extend name="Layout:ly1"/>

<block name="head">
    <style>
        #user_edit{
            margin-top: 10px;
        }
    </style>

</block>/

<block name="body">
    <div id="page-wrapper">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">提问管理</h1>
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->
        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <!-- /.panel-heading -->
                        <div class="dataTable_wrapper">

                            <table class="table table-bordered table-hover table-responsive">
                                <thead>
                                <tr>
                                    <th>问题ID</th>
                                    <th>用户名</th>
                                    <th>问题内容</th>
                                    <th>发问时间</th>
                                    <th>最佳答案</th>
                                    <th>发问地区</th>
                                    <th>问题分类</th>
                                    <th>操作</th>
                                </tr>
                                </thead>
                                <tbody>
                               <foreach name="question_list" item="vo">
                                <tr>
                                    <td>{$vo.id }</td>
                                    <td>{$vo.account}</td>
                                    <td style="width:25%">{$vo.content}</td>
                                    <td>{$vo.addtime}</td>
                                    <td>{$vo.perfect_answer_id}</td>
                                    <td>{$vo.areaid}</td>
                                    <td>{$vo.cat_name}</td>
                                    <td>
                                        <a class="btn btn-warning admin_user_edit">编辑</a>
                                        <a class="btn btn-warning admin_user_group_edit">分组</a>
                                        <a class="btn btn-danger question_delete">删除</a>
                                    </td>
                                </tr>
                               </foreach>
                                </tbody>
                            </table>
                        </div>
                        <!-- /.table-responsive -->
                </div>
                <!-- /.panel -->
            </div>
            <!-- /.col-lg-12 -->
        </div>
    </div>
    <!-- /#page-wrapper -->
</block>