a{
    cursor: pointer;
}

.reset0{
    margin: 0;
    border:0;
    padding: 0;
}

.position_fixed{
    position: fixed;
}

.height_100{
    height: 100%;
}

.word_wrap{
    word-wrap: break-word;
}

.max_width_800{
    max-width: 800px;
}

.max_width_100{
    max-width: 100px;
}

.max_height_100{
    max-height: 100px;
}

.overflow_hidden{
    overflow: hidden;
}

.margin_top_10{
    margin-top: 10px;
}

.p90{width:90%;margin: 0 auto;}

.padding20{padding: 20px 0 30px;}

.form-control.width{width: 120px;margin-right: 10px;float: left;}

.form-control.width.city{display: none;}
.form-control.width.county{display: none;}

.form-control.nobg{background: #fff;border-radius: 0;border: 0;}

.form-group span.tips{position: relative;top:6px;color:red;}

.table-bordered>tbody>tr>td{line-height: 35px;}
.table-bordered>tbody>tr>td img{border-radius: 50%;}
.table-bordered>tbody>tr>td .btn{margin: 0 5px;}
.table-bordered>tbody>tr>td.acount,.table-bordered>tbody>tr>td.avatar{cursor: pointer;font-weight:bold;}