@charset "utf-8";
body {font-family:"微软雅黑";color:#000;font-size:14px;border:0px;padding:0px;margin:0px;}
h1,h2,h3,h4,h5,h6,ul,ol,li,input,p,dl,dt,dd{border:0px;padding:0px;margin:0px;list-style-type:none;}
a,a:hover{text-decoration:none;color:#000;}
img{border:0px;vertical-align:top}
.clear{clear:both;}
.clearfix:after { content: ""; display: table; clear: both; }
.clearfix { *zoom:1;}

/*add by wodrow start*/
.reset0{margin: 0;border: 0;padding: 0;}
.marginTop50{margin-top:50px;}
.marginTop100{margin-top:100px;}
/*add by wodrow end*/


/*easyui重写*/
.easyui-accordion ul{list-style-type:none;margin:0px; padding:6px 5px;}
.easyui-accordion ul li{ padding:0px;}
.easyui-accordion ul li a{line-height:24px;}
.easyui-accordion ul li div{margin:0px 0px;padding-left:10px;padding-top:2px;border:1px solid #fff;}
.easyui-accordion ul li div.hover{border:1px dashed #99BBE8; background:#E0ECFF;cursor:pointer;}
.easyui-accordion ul li div.hover a{color:#416AA3;}
.easyui-accordion ul li div.selected{border:1px solid #99BBE8; background:#E0ECFF;cursor:default;}
.easyui-accordion ul li div.selected a{color:#416AA3; font-weight:bold;}
.panel-icon{left:3px;}
#west{}
#west ul{}
#west ul li{list-style-type: disc;list-style-position: inside;color: #555;}
#west ul li a{color: #555;font-size: 14px;}
#west ul li a:hover{color: #0E2D5F;text-decoration: underline;}

/*bootstrap重写*/
.panel{margin-bottom: 0px;}
.panel-body{padding:0px;}
.panel-title{font-size: 14px;color:#555;font-weight: normal;}

.container-fluid.padding{padding: 25px 25px 35px;}
.form-group.margin-left{margin-left: 25px;}

/*新样式*/
.head a{color:White;text-decoration:none;margin:0 3px;}
.head a:hover{text-decoration: underline;}

.panel-body em{font-size: 10px;}

.container-fluid .charts_h600{width: 100%;height: 600px;}
.container-fluid.padding-top h1{padding: 20px 20px 25px;font-size: 24px;}
.container-fluid.padding-top h2{padding: 20px 20px 25px;font-size: 20px;}

.container-fluid .alert.right{text-align: right;}
.container-fluid.right{text-align: right;}
.container-fluid.padding10{padding:20px;}

.dropdown-menu{height:300px;overflow-y: auto;}


