a{
    cursor: pointer;
}

.reset0{
    margin: 0;
    border:0;
    padding: 0;
}

.position_fixed{
    position: fixed;
}

.height_100{
    height: 100%;
}

.word_wrap{
    word-wrap: break-word;
}

.max_wight_800{
    max-width: 800px;
}

.overflow_hidden{
    overflow: hidden;
}

.margin_top_10{
    margin-top: 10px;
}