<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0" />
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<meta name="format-detection" content="telephone=no">
<title>如何判断作物缺肥？</title>
<link rel="stylesheet" type="text/css" href="http://res.wx.qq.com/mmbizwap/zh_CN/htmledition/style/page/appmsg/page_mp_article_improve2c9cd6.css">
<!--[if lt IE 9]>
<link rel="stylesheet" type="text/css" href="http://res.wx.qq.com/mmbizwap/zh_CN/htmledition/style/page/appmsg/page_mp_article_improve_pc2c9cd6.css">
<![endif]-->
</head>
<body id="activity-detail" class="zh_CN mm_appmsg" ontouchstart="">

<foreach name="data" item="vo" >
<div id="js_article" class="rich_media">
    <div class="rich_media_inner">
        <div id="page-content">
            <div id="img-content" class="rich_media_area_primary">
                <h2 class="rich_media_title" id="activity-name">{$vo.content|mb_substr=###,0,25,'utf-8'}</h2>
                <div class="rich_media_meta_list">
                    <em id="post-date" class="rich_media_meta rich_media_meta_text">{$vo.addtime|date="Y-m-d",###}</em>
                    <a class="rich_media_meta rich_media_meta_link rich_media_meta_nickname" href="javascript:void(0);" id="post-user">中国农药第一网</a>
                </div>
                <div class="rich_media_content " id="js_content">
                    <p>{$vo.content}</p>

                    <p align="right"><a class="media_tool_meta meta_primary" id="js_view_source" href="javascript:void(0);">阅读原文</a></p>
                </div>
            </div>
        </div>
    </div>
</div>
</foreach>

</body>
</html>


