<extend name="Layout:ly2"/>

<block name="head">
<script type="text/javascript">
$(function(){
//    if({$data[0]['sex']} == 0){
//        $('.men').attr('checked','checked');
//    }else{
//        $('.women').attr('checked','checked');
//    }
//
//    if({$data[0]['userid']}){
//        $('#title').text('用户编辑');
//    }

    //获取省市县
//    $.ajax({
//        type: "get",
//        url: "{:U('Admin/Member/getAreas')}",
//        data: {areaid:{$data[0]['areaid']}},
//        dataType : 'json',
//        success: function(data) {
//            if(data.parent_areas.length > 0){
//                $(".provice,.city,.county").empty();
//                if (data.parent_areas.length <= 2) {
//                    $(".provice").append("<option value='" + data.parent_areas[0]['areaid'] + "'>" + data.parent_areas[0]['areaname'] + "</option>");
//                    $(".city").append("<option value='" + data.parent_areas[1]['areaid'] + "'>" + data.parent_areas[1]['areaname'] + "</option>");
//                } else {
//                    $(".provice").append("<option value='" + data.parent_areas[0]['areaid'] + "'>" + data.parent_areas[0]['areaname'] + "</option>");
//                    $(".city").append("<option value='" + data.parent_areas[1]['areaid'] + "'>" + data.parent_areas[1]['areaname'] + "</option>");
//                    $(".county").append("<option value='" + data.parent_areas[2]['areaid'] + "'>" + data.parent_areas[2]['areaname'] + "</option>");
//                }
//            }
//        }
//    });

    //加载省
    function getAreaProvince(){
        $.ajax({
            type: "get",
            url: "{:U('Admin/Member/get_area_info')}",
            data: {pid:0},
            dataType : 'json',
            success: function(data) {
                $.each(data.area_info,function(name,value){
                    $(".provice").append("<option value='" + data.area_info[name]['areaid'] + "'>" + data.area_info[name]['areaname'] + "</option>");
                })
            }
        });
    }

    //加载市
    $(".provice").change(function() {
        var id = $(this).val();
        $.ajax({
            type: "get",
            url: "{:U('Admin/Member/get_area_info')}",
            data: {pid:id},
            dataType : 'json',
            success: function(data) {
                $(".city").show().empty();
                $(".county").hide().empty();
                $(".city").append("<option value=''>请选择市</option>");
                $.each(data.area_info,function(name,value){
                    $(".city").append("<option value='" + data.area_info[name]['areaid'] + "'>" + data.area_info[name]['areaname'] + "</option>");
                })
            }
        });
    });

    //加载县区
    $(".city").change(function() {
        var id = $(this).val();
        $.ajax({
            type: "get",
            url: "{:U('Admin/Member/get_area_info')}",
            data: {pid:id},
            dataType : 'json',
            success: function(data) {
                if(data.area_info != ''){
                    $(".county").show().empty();
                }
                $(".county").append("<option value=''>请选择县/区</option>")
                $.each(data.area_info,function(name,value){
                    $(".county").append("<option value='" + data.area_info[name]['areaid'] + "'>" + data.area_info[name]['areaname'] + "</option>");
                })
            }
        });
    });

    //首次加载省
    getAreaProvince();

    $("#update_area").click(function(){
        $(".city,.county").hide();
        getAreaProvince();
    })

    //赋值地区ID
    $("select").change(function(){
        var id = $(this).val();
        $("#areaid").val(id);
    })

})
</script>

</block>

<block name="body">
    <div class="container-fluid">
        <h3 id="title" align="center">用户添加</h3>
        <div class="padding20">
            <form class="form-horizontal p90">
                <div class="form-group">
                    <label class="col-sm-2 control-label">用户帐号：</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="acount" value="{$data[0]['mobile']}" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">用户昵称：</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="nickname" value="{$data[0]['nickname']}" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">用户真名：</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="truename" value="{$data[0]['truename']}" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">性别：</label>
                    <div class="col-sm-10">
                        <label class="radio-inline">
                            <input type="radio" name="sex" class="men" checked value="0"> 男
                        </label>
                        <label class="radio-inline">
                            <input type="radio" name="sex" class="women" value="1"> 女
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">QQ：</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="qq" value="{$data[0]['qq']}" />
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-2 control-label">所在地区：</label>
                    <div class="col-sm-10">

                        <select class="form-control width provice">
                            <option>请选择省</option>
                        </select>

                        <select class="form-control width city">
                            <option>请选择市</option>
                        </select>

                        <select class="form-control width county">
                            <option>请选择县</option>
                        </select>
                        <input type="hidden" name="areaid" id="areaid" value=""/>
                        <button type="reset" id="update_area" class="btn btn-default">更改地区</button>

                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">详细地址：</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="address" value="{$data[0]['address']}" />
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button type="submit" class="btn btn-success">提交</button>&nbsp;&nbsp;&nbsp;&nbsp;
                        <button type="reset" class="btn btn-default">重置</button>
                    </div>
                </div>
            </form>
        </div>
    </div>

</block>