<?php foreach ($authTree as $k => $v): ?>
<tr data-id="{$v['id']}" data-pid="{$v['pid']}" data-name="{$v['name']}" data-title="{$v['title']}" data-status="{$v['status']}" data-sort="{$v['sort']}" data-icon="{$v['icon']}">
    <td></td>
    <td scope="row">{$v['id']}</td>
    <td>{$v['pid']}</td>
    <td>{$sign}{$v['name']}</td>
    <td>{$v['title']}</td>
    <td><i class="{$v['icon']}"></i></td>
    <td>{$v['status']}</td>
    <td>{$v['sort']}</td>
    <td>{:date("Y-m-d H:i:s",$v['create_time'])}</td>
    <td>
        <button class="btn btn-warning node_edit">修改</button>
        <?php if (!$v['_child']): ?>
        <button class="btn btn-danger node_delete">删除</button>
        <?php endif; ?>
    </td>
</tr>
<?php if ($v['_child']): ?>
    {:W("Admin/Recursion/showAuth",[$v['_child'],'    ┠─  '])}
<?php endif; ?>
<?php endforeach ?>