<extend name="Layout:ly1"/>

<block name="head">
    <script>
        $(document).ready(function () {
            $("table").DataTable({
                language:dataTables_zh_CN
            })
        });
    </script>
</block>

<block name="body">
    <div id="page-wrapper">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">节点管理</h1>
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->
        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        节点列表
                        <span class="pull-right"><a href="">添加节点</a></span>
                    </div>
                    <!-- /.panel-heading -->
                    <div class="panel-body">
                        <div class="dataTable_wrapper">
                            <table class="table table-bordered table-hover">
                                <thead>
                                <tr>
                                    <th>编号</th>
                                    <th>pid</th>
                                    <th>标题</th>
                                    <th>icon</th>
                                    <th>操作</th>
                                </tr>
                                </thead>
                                <tbody>
                                <?php foreach($node_list as $k => $v): ?>
                                <tr data-id="{$v['id']}">
                                    <th scope="row">{$v['id']}</th>
                                    <th>{$v['pid']}</th>
                                    <td>{$v['title']}</td>
                                    <td><i class="{$v['icon']}"></i></td>
                                    <td>
                                        <button class="btn btn-warning">编辑</button>
                                        <button class="btn btn-danger">删除</button>
                                    </td>
                                </tr>
                                <?php endforeach; ?>
                                </tbody>
                            </table>
                        </div>
                        <!-- /.table-responsive -->
                    </div>
                    <!-- /.panel-body -->
                </div>
                <!-- /.panel -->
            </div>
            <!-- /.col-lg-12 -->
        </div>
    </div>
    <!-- /#page-wrapper -->
</block>